/* Resetting default browser styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.login-container {
    width: 300px;
    margin: 100px auto;
    background-color: #764eb8;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(149, 173, 143, 0.801);
}

.login-container h2 {
    margin-bottom: 20px;
    text-align: center;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #22100a;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #070805;
    color: #1ab479a1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #131b0b;
}
